.aboutme {
  position: relative;
  padding-top: 15vh;
  height: 40vh;
  font-size: 22px;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  bottom: 0;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input::before, input::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(60, 84, 107);
  height: 5px;
}
input::before {
  width: 15vw;
  left: calc(-7vw);
}

.dot {
  width: 25px;
  height: 25px;
  background-color: rgb(60, 84, 107);
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dot-info {
  width: 50px;
  height: 5px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc(((80vw / 20) * -1) + 15px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
}
.year {
  font-size: 15px;
}
.dot-info span.year {
  bottom: -35px;
  left: -15px;
  transform: translateX(-50%);
}
.dot-info span.label {
  text-align: left;
  top: -86px;
  left: 0;
  transform: rotateZ(-35deg);
  width: 100px;
  text-indent: -40px;
}

.timeline-descriptions-wrapper {
  position: relative;
  width: 100%;
  font-size: 22px;
  margin-top: 2vh;
  margin-bottom: 15vh;
  height:20vh;
}

.descriptionBox {
  padding:1vh 2vw;
  position: absolute;
  border-radius: 10px;
  width: 70%;
  height:14vh;
  margin-left: 10%;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.none {
  display: none;
}

.eventOnClick {
  display: inline-block;
}

.dotClicked {
  background-color:white;
  border: #ff5f2e 6px solid;
}

p {
  border-left: 5px solid rgb(60, 84, 107);
  padding-left: 7px;
}

@media screen and (max-width: 850px),(max-height: 600px) {     
  .aboutme {
    font-size: 17px;
  }

  .dot {
    width: 15px;
    height: 15px;
  }
    
  .dot-info {
    width: 20px;
    height: 2px;
  }
  .dot-info span.year {
    bottom: -25px;
    left: -18px;
  }
  .dot-info span.label {
    top: -70px;
    width: 70px;
  }

  .year {
    font-size: 13px;
  }
    
  .timeline-descriptions-wrapper {
  font-size: 18px;
  }
    
  .descriptionBox {
  padding:1vh 2vw;
  width: 80%;
  right: 10%;
  }
}

@media screen and (max-width: 600px) {
  .aboutme {
    font-size: 13px;
  }

  .timeline-descriptions-wrapper {
    font-size: 15px;
  }
  
  p {
    border: none;
    padding-left: 0;
  }
}

