.App {
  text-align: center;
  font-family: 'Baloo Paaji 2', cursive, 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
  color: white;
  background-color: #272625;
  height: auto;
  /* transition: all .2s ease-in; */
}

.Menu {
  text-align: center;
  height: 6vh;
  padding-top: 2vw;
}

.Menus {
  font-size: 25px;
  margin: 1.5vh 20px;
  width: 150px;
  line-height: 4vh; 
  display: inline-block;
  /* transition: all .2s ease-in; */
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  letter-spacing: 0px;
}

.Appmain {
  height: 65vh;
  width: 100%;
  /* transition: all .2s ease-in; */
}

.Footer {
  font-family: 'Satisfy', cursive;
  height: 40px;
  /* transition: all .2s ease-in; */
}

.Message {
  text-align: left;
  height: 20vh;
  color: rgb(253, 214, 128);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  /* transition: all .2s ease-in; */
}

.write {
  width: 57vw; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: lighter;
  font-family: 'Baloo Paaji 2', cursive, 'Roboto', sans-serif;
  padding-left: auto;
  padding-right: auto;
}

.writer{
  width: 8vw; 
  height: 25px; 
  margin-right: 3vw;
}

.email{
  width: 30vw;
  height: 25px;
  right:0;
}

.Text{
  width: 56.4vw; 
  height: 40px;
}

::placeholder {
  font-family: 'Baloo Paaji 2', cursive, 'Roboto', sans-serif;
  font-size: 18px;
}
input[type="text"] {
  color: white;
  background-color: rgba(255, 248, 220, 0);
  padding-left:5px;
  font-size:15px;
  border: none;
  border-bottom:solid 1px white;
}
input[type="textarea"] {
  padding-left: 5px;
  font-size:15px;
  border-top-width:0px; border-bottom-width:0px; border-left-width:0px; border-right-width:0px;
  background-color: rgb(235, 230, 213);
}

#submit {
  margin-top: 1vh;
  height: 30px;
  border-radius: 10px; 
  font-size: 18px;
  background-color: rgb(250, 186, 68);
  border: none;
  position: absolute;
  right: 0;
  font-family: 'Baloo Paaji 2', cursive, 'Roboto', sans-serif;
  outline:none;
}

button:hover {
  cursor: pointer;
}

.myModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.411);
  width: 100%;
  height: 100%;
}

.modal_content {
  width: 30%;
  height: 7vh;
  display: inline-block;
  background-color: white;
  margin-top: 8vh;
  padding-top: 3vh;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: black;
  vertical-align: middle;
  position: relative;
}

.displayMyModal {
  display: none;
}

#checkbox {
  margin-top: 5px;
}

#box {
  -webkit-transform: scale(1.5);
  margin-right:10px;
}

#x {
  position: absolute;
  top: 1px;
  right: 10px;
}

#x:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainMenus:hover {
  letter-spacing: 2px;
  border-bottom: 2px solid #ff5f2e;
  transition: all .2s ease-in;
}

.Home {
  text-align: center;
  font-size: 50px;
  font-family: 'Do Hyeon', sans-serif;
  line-height: 65px;
  padding-top: 15vh;
  padding: 15vh 10vw;
}

@media screen and (max-height: 750px) {
  .Message {
    font-size: 15px;
    height: 150px;
  }
  ::placeholder {
    font-family: 'Baloo Paaji 2', cursive, 'Roboto', sans-serif;
    font-size: 15px;
  }
  input[type="text"] {
    font-size:15px;
    height: 20px;
  }
  input[type="textarea"] {
    font-size:15px;
    height: 30px;
  }
}

@media screen and (max-width: 760px),(max-height: 600px) { 
  .Menus { 
    font-size: 17px;
    margin: 1.5vh 10px;
    padding-top: 0px;
    width: 90px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .mainMenus:hover {
    letter-spacing: 2px;
    border-bottom: 1px solid #ff5f2e;
  }
  .modal_content {
    font-size: 17px;
    width: 40%;
    height: 10%;
  }
  #x {
    font-size: 10px;
  }
  .Home {
    font-size: 35px;
    line-height: 45px;
    padding-top: 10vh;
  }
  .Setting:hover {
    border-bottom: 1px solid #ff5f2e00;
  }

  .write {
    width: 70vw; 
  }

  .Text{
    width: 69vw; 
    height: 40px;
  }
  .write {
    font-size: 15px;
  }
  ::placeholder {
    font-size: 15px;
  }
  input[type="text"] {
    font-size:13px;
  }
  input[type="textarea"] {
    font-size:13px;
  }
  #submit {
    height: 25px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1500px){ 
  .Menus { 
    margin: 1.5vh 30px;
    padding-top: 0px;
    width: 200px;
    font-size: 35px;
    letter-spacing: 1px;
  }
  .Menus:hover {
    letter-spacing: 5px;
    border-bottom: 2px solid #ff5f2e;
  }
  .modal_content {
    padding-top: 10px;
    font-size: 28px;
  }
  #x {
    font-size: 15px;
  }
}

.name {
  color: rgb(250, 190, 98);
  text-decoration: underline;
  transition: all .2s ease-in;
}

.Colormode {
  color: black;
  transition: all-color .2s ease-in;
}

.MenuColormode {
  background-color: #fccc65;
  color: #34314c;
  transition: all .2s ease-in;
}

.AppmainColormode {
  background-color: #fccc65;
  transition: all .2s ease-in;
}

.MessageColormode {
  color: white;
  background-color: #d45656;
  transition: all .2s ease-in;
}

.FooterColormode {
  font-family: 'Satisfy', cursive;
  height: 40px;
  color: white;
  background-color: #d45656;
  transition: all .2s ease-in;
}

.nameColormode {
  color: rgb(250, 190, 98);
  text-decoration: underline;
  background-color: #050505;
  transition: all .2s ease-in;
}

.aboutme {
  padding-top: 15vh;
}

.portfolio {
  padding-top: 15vh;
}

input:focus {
  outline:none;
}

/* sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(252, 109, 44);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px rgb(252, 109, 44);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
