.Home {
  text-align: center;
  font-size: 50px;
  padding-top: 15vh;
  width: 100%;
}

.introduce {
  display: inline-block;
  width: 70%;
  line-height: 45px;
  padding-top: 10vh;
  line-height: 65px;
}

@media screen and (min-width: 1400px), (min-height: 800px) { 
    .introduce {
      font-size: 60px;
      width: 940px;
      line-height: 75px;
    }
}

@media screen and (max-width: 760px),(max-height: 400px) { 
  .introduce {
    font-size: 35px;
    line-height: 45px;
    padding-top: 10vh;
    width: 80%;
  }
}
