.aboutme {
  padding-top: 15vh;
  font-size: 16px;
  height: 87vh;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1200px;
  position: relative;
  z-index: 0;
}

.dotGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::before,
input::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(60, 84, 107);
  height: 5px;
}
input::before {
  width: 15vw;
  left: calc(-6vw);
}

.dot {
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: rgb(60, 84, 107);
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dot-info {
  left: 22px;
  width: 50px;
  height: 5px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
}
.dot-info span {
  visibility: visible;
  position: absolute;
}
.year {
  font-size: 12px;
}
.dot-info span.year {
  bottom: -30px;
  left: -15px;
  transform: translateX(-50%);
}
.dot-info span.label {
  text-align: left;
  top: -77px;
  left: 3px;
  transform: rotateZ(-35deg);
  width: 100px;
  text-indent: -40px;
}

.timeline-descriptions-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 19px;
  margin-top: 2vh;
  margin-bottom: 15vh;
  height: 20vh;
}

.descriptionBox {
  padding: 1vh 2vw;
  border-radius: 10px;
  width: 70%;
  height: 12vh;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.none {
  display: none;
}

.eventOnClick {
  display: inline-block;
}

.dotClicked {
  background-color: white;
  border: #ff5f2e 4px solid;
}

p {
  border-left: 5px solid rgb(60, 84, 107);
  padding-left: 7px;
}

@media screen and (max-width: 850px), /* (max-height: 500px) */ {
  .aboutme {
    padding-top: 13vh;
    font-size: 12px;
  }

  input::before {
    left: calc(-6vw);
  }

  .dot {
    left: 0px;
    width: 15px;
    height: 15px;
  }

  .dot-info {
    left: 7px;
    width: 20px;
    height: 2px;
  }

  .year {
    font-size: 11px;
  }
  .dot-info span.year {
    bottom: -25px;
    left: -18px;
  }

  .dot-info span.label {
    top: -62px;
    width: 70px;
    left: 5px;
  }

  .descriptionBox {
    font-size: 16px;
    width: 70%;
  }

  .dotClicked {
    border: #ff5f2e 3px solid;
  }
}

@media screen and (max-width: 600px) {
  p {
    border: none;
    padding-left: 0;
  }

  .dot {
    left: 2px;
    width: 15px;
    height: 15px;
  }

  .dot-info {
    left: 10px;
    width: 15px;
  }

  .year {
    font-size: 11px;
  }

  .descriptionBox {
    font-size: 14px;
    width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .aboutme {
    font-size: 18px;
  }
  .descriptionBox {
    font-size: 27px;
  }
  .year {
    font-size: 18px;
  }
  .dot-info span.year {
    bottom: -35px;
  }
}
