.App {
  text-align: center;
  font-family: 'Baloo Paaji 2', cursive, 'Noto Sans KR', sans-serif, 'Roboto',
    sans-serif;
  color: white;
  background-color: #272625;
}

.topMenu {
  z-index: 3;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: all 0.2s ease-in;
}

.Menu {
  background-color: #272625;
  height: 6vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
  transition: all 0.2s ease-in;
}

.Menus {
  font-size: 21px;
  margin: 2vh 20px;
  width: 150px;
  line-height: 4vh;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  letter-spacing: 0px;
}

.Menus:hover {
  cursor: pointer;
}

.Appmain {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #272625;
  width: 100%;
  transition: all 0.2s ease-in;
}

.Footer {
  font-family: 'Satisfy', cursive;
  font-size: 15px;
  width: 100%;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainMenus:hover {
  letter-spacing: 2px;
  border-bottom: 2px solid #ff5f2e;
  transition: all 0.2s ease-in;
}

.menuOnClick {
  letter-spacing: 2px;
  color: #ff5f2e;
}

/* sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 17px;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(252, 109, 44);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 760px), (max-height: 500px) {
  .Menus {
    height: 25px;
    font-size: 17px;
    margin: 2vh 10px;
    padding-top: 0px;
    width: 110px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }

  .Footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 650px) {
  .Menus {
    height: 25px;
    font-size: 13px;
    margin: 1.5vh 5px;
    padding-top: 0px;
    width: 70px;
    font-weight: normal;
    letter-spacing: 0.5px;
  }
  .mainMenus:hover {
    letter-spacing: 2px;
    border-bottom: 1px solid #ff5f2e;
  }

  .switch {
    width: 22px;
    height: 13px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  .slider:before {
    height: 10px;
    width: 10px;
    left: 1px;
    bottom: 1.5px;
  }
}

@media screen and (min-width: 1500px) {
  .Menus {
    margin: 1.5vh 30px;
    padding-top: 0px;
    width: 200px;
    font-size: 25px;
    letter-spacing: 1px;
  }
  .Menus:hover {
    letter-spacing: 5px;
  }
}

.Colormode {
  color: black;
  transition: all-color 0s ease-in;
}

.MenuColormode {
  background-color: #fed47b;
  color: #34314c;
}

.AppmainColormode {
  background-color: #fed47b;
  transition: all 0.2s ease-in;
}

input:focus {
  outline: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .Menus {
    font-size: 40px;
    margin: 1.5vh 5px;
    width: 230px;
  }

  .mainMenus:hover {
    letter-spacing: 3px;
    border-bottom: none;
  }

  .switch {
    width: 120px;
    height: 50px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(65px);
    -ms-transform: translateX(65px);
    transform: translateX(65px);
  }

  .slider:before {
    height: 45px;
    width: 45px;
    left: 5px;
    bottom: 3px;
  }

  .Footer {
    font-size: 40px;
  }
}
