.Home {
  text-align: center;
  font-size: 40px;
  padding-top: 37vh;
  height: 45vh;
  display: inline-block;
  width: 70%;
  line-height: 55px;
}

.name {
  color: rgb(250, 190, 98);
  text-decoration: underline;
  transition: all 0.2s ease-in;
}
.nameColormode {
  background-color: #050505;
  transition: all 0.2s ease-in;
}

@media screen and (min-width: 1000px) {
  .Home {
    font-size: 50px;
    width: 800px;
    line-height: 70px;
  }
}

@media screen and (max-width: 700px), (max-height: 400px) {
  .Home {
    font-size: 35px;
    line-height: 45px;
    width: 80%;
  }
}
