.Home {
  text-align: center;
  font-size: 40px;
  padding-top: 37vh;
  height: 45vh;
  display: inline-block;
  width: 70%;
  max-width: 800px;
  line-height: 55px;
}

.name {
  position: relative;
  color: rgb(250, 190, 98);
  text-decoration: underline;
  transition: all 0.2s ease-in;
}
.nameColormode {
  background-color: #050505;
  transition: all 0.2s ease-in;
}

.name:hover .contact {
  visibility: visible;
}

.name:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.name:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.name:hover {
  cursor: pointer;
}

.contact {
  transition: all 0.1s ease-in;
  position: absolute;
  width: 170px;
  line-height: 17px;
  font-size: 13px;
  text-align: left;
  left: 0px;
  top: 45px;
  visibility: hidden;
  color: rgb(250, 190, 98);
}
.github,
.email {
  width: 13px;
  margin-right: 5px;
  position: relative;
}

.copied {
  transition: all 0.1s ease-in;
  height: 15px;
  border-radius: 5px;
  color: black;
  position: absolute;
  top: 2px;
  left: 16px;
  width: 142px;
  background-color: white;
  opacity: 0.7;
  text-align: center;
  visibility: hidden;
}

.showCopied {
  visibility: visible;
}

.name:not(:hover) .showCopied {
  visibility: hidden;
}

@media screen and (min-width: 1300px) {
  .Home {
    font-size: 50px;
    width: 800px;
    line-height: 70px;
  }
}

@media screen and (max-width: 700px), (max-height: 400px) {
  .Home {
    font-size: 35px;
    line-height: 45px;
    width: 80%;
  }
}
