.portfolioModal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolioModal_overlay {
  background-color: rgba(0, 0, 0, 0.882);
  width: 100%;
  height: 100%;
}

.portfolioModal_content {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif, 'Roboto';
  font-size: 15px;
  font-weight: 400;
  width: 500px;
  height: 350px;
  display: inline-block;
  background-color: white;
  margin-top: 10%;
  padding: 30px;
  padding-top: 30px;
  border-radius: 10px;
  color: black;
  vertical-align: middle;
}

.basicBtn {
  font-family: 'Baloo Paaji 2', sans-serif;
  font-size: 16px;
  left: 230px;
  bottom: -20px;
  position: absolute;
  outline: none;
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
  background-color: white;
}

.goBtn {
  font-weight: 400;
  bottom: 70px;
  border: none;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 95, 46, 1);
}

.goBtn:hover {
  box-shadow: 8px 8px rgb(108, 1, 1), -8px -8px rgb(244, 163, 163);
  cursor: pointer;
}

.close {
  box-shadow: none;
  position: absolute;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 5px;
  font-size: 10px;
  left: 180px;
  bottom: -10px;
  width: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.close:hover {
  box-shadow: none;
  background-color: lightgray;
}

.finalClose {
  left: 240px;
  font-size: 14px;
  width: 80px;
  height: 27px;
}

.question {
  font-size: 14px;
  margin-bottom: 20px;
}

.questionOne {
  margin-bottom: 30px;
}

.questionTwo {
  margin-bottom: 90px;
}

.radioBtn {
  font-size: 14px;
  width: 70%;
  border-radius: 3px;
  border: 0.5px rgb(154, 147, 88) solid;
  display: inline-block;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  margin-top: 5px;
}

.radioBtnForFive {
  font-size: 13px;
  border: 0.5px lightgray solid;
  border-radius: 3px;
  width: 60%;
  display: inline-block;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 5px;
}

.radioBtn:hover {
  cursor: pointer;
  background-color: khaki;
}

.radioBtnForFive:hover {
  cursor: pointer;
  background-color: lightgrey;
}

input[type='radio'].portfolioRadio,
input[type='checkbox'].portfolioCheckbox {
  display: none;
}

input[type='radio'].portfolioRadio:checked + label {
  background-color: khaki;
}

.radioYes {
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 80px;
}

.MuiTypography-body1 {
  font-size: 30px !important;
}

.radioYes:hover .MuiTypography-body1 {
  font-size: 40px !important;
  transition: 0.3s;
}

.radioNo .MuiRadio-colorSecondary.Mui-checked {
  color: lightblue !important;
}

.radioNo .MuiTypography-body1 {
  font-size: 15px !important;
}

.radioNo:hover {
  background-color: white;
}

input[type='radio'].radioYes:checked .MuiTypography-body1 {
  background-color: pink;
  color: red;
}

input[type='radio'].radioNo:checked + label {
  background-color: white;
  /* color: lightblue; */
}

input[type='checkbox'].portfolioCheckbox:checked + label {
  background-color: lightgrey;
}

.nextBtn {
  border: none;
  color: white;
  margin-top: 40px;
  background-color: rgba(255, 95, 46, 1);
  transition: 0.3s;
  letter-spacing: 2px;
}

.nextBtnForFive {
  border: none;
  color: white;
  letter-spacing: 2px;
  margin-top: 30px;
  background-color: rgba(255, 95, 46, 1);
  transition: 0.3s;
}

.arrow {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.nextBtn:hover,
.nextBtnForFive:hover {
  cursor: pointer;
  background-color: rgb(255, 150, 29);
  box-shadow: none;
}

.nextBtn:hover .arrow,
.nextBtnForFive:hover .arrow {
  opacity: 1;
}

.nextBtn:hover,
.nextBtnForFive:hover {
  color: rgb(255, 150, 29);
}

#stepTwoPieChart,
#stepFourRadarChart {
  margin: 0 auto;
  z-index: 10;
}

.textArr {
  color: rgb(228, 93, 52);
  margin-left: 35px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}

.count {
  padding: 2px 5px;
  font-size: 17px;
  margin-right: 4px;
}

#stepSixScatterChart {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 500px !important;
}

.numberTextOne {
  font-size: 15px;
  margin-top: 80px;
}

.numberTextTwo {
  font-size: 15px;
  margin-top: 30px;
}

.check {
  color: coral;
  margin-top: 10px;
}

#stepEightBarChart {
  width: 460px !important;
}

.canvas {
  position: absolute;
  left: 10px;
  top: 30px;
  width: 530px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
  .portfolioModal_content {
    font-size: 40px;
    font-weight: 400;
    width: 800px;
    height: 1000px;
    margin-top: 450px;
    padding: 70px;
  }

  .basicBtn {
    bottom: 150px;
    font-size: 80px;
    left: 170px;
    width: 600px;
  }

  .close {
    font-size: 30px;
    left: 170px;
    bottom: 10px;
    width: 600px;
  }

  #stepZeroLineChart {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 900px !important;
    height: 600px !important;
  }

  .finalClose {
    left: 220px;
    font-size: 50px;
    width: 500px;
    height: 90px;
    bottom: 50px;
  }

  .question {
    font-size: 37px;
    margin-bottom: 20px;
  }

  .questionOne {
    margin-bottom: 50px;
  }

  .radioBtn {
    font-size: 45px;
    width: 100%;
    margin-top: 25px;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .nextBtn {
    bottom: 60px;
    margin-top: 40px;
  }

  .arrow {
    font-size: 90px;
  }

  #stepTwoPieChart {
    position: absolute;
    top: 100px;
    left: -50px;
    width: 1000px !important;
    height: 600px !important;
  }

  .textArr {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 23px;
  }

  .radioBtnForFive {
    font-size: 40px;
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 15px;
  }

  .nextBtnForFive {
    bottom: 20px;
  }

  #stepFourRadarChart {
    position: absolute;
    top: 100px;
    left: -20px;
    width: 1000px !important;
    height: 700px !important;
  }

  #stepSixScatterChart {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 950px !important;
    height: 600px !important;
  }

  .radioYes {
    margin-top: 150px;
    height: 200px;
    width: 100px;
  }

  .MuiTypography-body1 {
    font-size: 80px !important;
  }

  .radioYes:hover .MuiTypography-body1 {
    font-size: 120px !important;
  }

  .radioNo .MuiTypography-body1 {
    font-size: 40px !important;
  }

  #stepEightBarChart {
    height: 600px !important;
  }

  .count {
    font-size: 50px;
  }

  .numberTextOne {
    font-size: 50px;
    margin-top: 120px;
  }

  .numberTextTwo {
    font-size: 50px;
    margin-top: 50px;
  }

  .check {
    margin-top: 100px;
  }

  /* .canvas {
    position: absolute;
    left: 10px;
    top: 30px;
    width: 530px;
  } */
}
