.portfolioModal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolioModal_overlay {
  background-color: rgba(0, 0, 0, 0.882);
  width: 100%;
  height: 100%;
}

.portfolioModal_content {
  position: relative;
  font-family: 'Noto Sans KR', sans-serif, 'Roboto';
  font-size: 15px;
  font-weight: 500;
  width: 500px;
  height: 350px;
  display: inline-block;
  background-color: white;
  margin-top: 5%;
  padding: 30px;
  padding-top: 30px;
  border-radius: 10px;
  color: black;
  vertical-align: middle;
  position: relative;
}

.basicBtn {
  font-size: 16px;
  left: 230px;
  bottom: -20px;
  position: absolute;
  outline: none;
  border: 1px black solid;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  background-color: white;
}

.goBtn {
  box-shadow: none;
  bottom: 70px;
  border: none;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: rgba(255, 95, 46, 1);
}

.goBtn:hover {
  box-shadow: 8px 8px rgb(108, 1, 1), -8px -8px rgb(244, 163, 163);
  cursor: pointer;
}

.close {
  box-shadow: none;
  position: absolute;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 5px;
  font-size: 10px;
  left: 180px;
  bottom: -10px;
  width: 200px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.close:hover {
  box-shadow: none;
  background-color: lightgray;
}

.finalClose {
  left: 240px;
  font-size: 14px;
  width: 80px;
  height: 27px;
}

.question {
  font-size: 14px;
  margin-bottom: 20px;
}

.questionOne {
  margin-bottom: 30px;
}

.questionTwo {
  margin-bottom: 90px;
}

.radioBtn {
  font-size: 14px;
  width: 70%;
  border-radius: 3px;
  border: 0.5px rgb(154, 147, 88) solid;
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 5px;
}

.radioBtnForFive {
  font-size: 13px;
  border: 0.5px lightgray solid;
  border-radius: 3px;
  width: 60%;
  display: inline-block;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-top: 5px;
}

.radioBtn:hover {
  cursor: pointer;
  background-color: khaki;
}

.radioBtnForFive:hover {
  cursor: pointer;
  background-color: lightgrey;
}

input[type='radio'].portfolioRadio,
input[type='checkbox'].portfolioCheckbox {
  display: none;
}

input[type='radio'].portfolioRadio:checked + label {
  background-color: khaki;
}

.radioYes {
  border: 0.5px pink solid;
}

.radioYes:hover {
  background-color: pink;
}

.radioNo {
  border: 0.5px grey solid;
}

.radioNo:hover {
  background-color: grey;
}

input[type='radio'].radioYes:checked + label {
  background-color: pink;
}

input[type='radio'].radioNo:checked + label {
  background-color: grey;
}

input[type='checkbox'].portfolioCheckbox:checked + label {
  background-color: lightgrey;
}

.nextBtn {
  border: none;
  color: white;
  margin-top: 40px;
  background-color: rgba(255, 95, 46, 1);
  transition: 0.3s;
  font-weight: 600;
  letter-spacing: 3px;
}

.nextBtnForFive {
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 30px;
  background-color: rgba(255, 95, 46, 1);
  transition: 0.3s;
}

.arrow {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.nextBtn:hover,
.nextBtnForFive:hover {
  cursor: pointer;
  background-color: rgb(255, 150, 29);
  box-shadow: none;
}

.nextBtn:hover .arrow,
.nextBtnForFive:hover .arrow {
  opacity: 1;
}

.nextBtn:hover,
.nextBtnForFive:hover {
  color: rgb(255, 150, 29);
}

#stepTwoPieChart,
#stepFourRadarChart {
  margin: 0 auto;
  z-index: 10;
}

.textArr {
  /* color: bla; */
  margin-left: 35px;
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}

.count {
  padding: 2px 5px;
  font-size: 17px;
  margin-right: 4px;
}

.numberTextOne {
  font-size: 15px;
  margin-top: 80px;
}

.numberTextTwo {
  font-size: 15px;
  margin-top: 30px;
}

.check {
  color: coral;
  margin-top: 10px;
}
